/**************************
// HEADER
/*************************/
header 
{
	width: 100%;
	/*height: 150px;*/
	background-color: #2B2D42;
	margin: 0px;
	padding: 0px;
	font-family: "Courier New",Monospace;
}

header h1
{
	color: white;
	font-size: 60px;
    margin-top: 0px;
    text-align: center;
}

header nav
{
	margin-left:auto;
	margin-right:auto;
	font-size: 20px;
	font-color: white;
}

header nav nav-tabs
{
	font-color: white;
}

header nav ol
{
    display: inline;
    width: 700px;
}

header nav ol li
{
	display: inline;
	margin-right:100px;
    float: left;
}

/**************************
// BODY
/*************************/

a:link {
    color: #247BA0;
    background-color: transparent;
    text-decoration: none;
}

#body-wrapper
{
	width: 70%;
	height: 100%;
	margin: 0 auto;
}

#col1
{
	width: 100%;
	height: auto;
	/*float:left;*/
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #E6E6E6;
    border-radius: 8px;
}

#col3
{
	width: 100%;
	height: auto;
	/*float:right;*/
	margin-right: 0px;
	margin-left: 0px;
	margin-bottom: 20px;
	margin-top: 10px;
	padding: 30px;
	background-color: #E6E6E6;
    border-radius: 8px;


}

#message {
     display: block;
     background: white;
    
     padding: 1em;
     margin: auto;
     font-size: 1em;
    
     height: 12em;
     max-height: 12em;
     width: 100%;
     max-width: 100%;
 }

#col3.newStory
{
	overflow-y: scroll;

}

div.clear {
	clear:both;
}

/**************************
// FOOTER
/*************************/

footer
{
	width: 100%;
	height: 50px;
	margin-top: 10px;
    text-align: center;
	float:left;
	color: white;
	background-color:  #2B2D42;
	font-family: "Courier New",Monospace;
	font-size: 20px;

}

#footer-wrapper
{
	width: 100%;
	height: 50px;
	margin-left:auto;
	margin-right:auto;
}

#footer-wrapper ul {
    
    margin: 0 auto;
    padding: 10px;
    list-style-type: none;
    text-align: center;

  }

#footer-wrapper ul li{

    display: inline;
    padding-right: 25px;
    margin: 0 auto;

    }